build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

public/robots.txt
public/sitemap*.xml

# Cache Files
.eslintmdcache
.stylelintcache
.prettiercache

# Unit test coverage
coverage/

# Docker compose
compose.override.yaml
compose.override.yml
docker-compose.override.yaml
docker-compose.override.yml

# Editor directories and files
.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
