build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

# Cache Files
.eslintcache
.eslintmdcache
.stylelintcache
.prettiercache

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
